#centrado{
    background-color: yellow;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  /* Con esta clase centraremos los elementos dentro de los div */

#rosa {
    position: relative;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(254,183,225,.5);
}