#derecha {
  float: left;
  width: 20%;
  background-color: $gainsboro;
  height: 100%;
  padding: 10px;
}
h3 {
  font-family: "Gochi Hand";
}
h4 {
  font-family: "Gochi Hand";
}
h1 {
  font-family: "Gochi Hand";
}
h2 {
  font-family: "Gochi Hand";
}

body {
  font-family: "Nunito", sans-serif;
  color: $gray-800;
}

#columna {
  padding: 1.5625em;
  max-width: 90%;
  color: $azulletra;
  border-bottom: 5px solid $black;
  margin-bottom: 2.1875em;
  position: relative;
  overflow: hidden;
}
#imagen {
  width: 300px;
  height: 250px;
}

#columna:hover {
  background: $gray-300;
  border-bottom-color: $primary;
}
.enlace {
  display:none;
}

@media only screen and (max-width: 755px) {
  .col-sm-4 {
    display: none;
  }

  .enlace {
    display: block;
  }
}