
nav{
    width:1000px;
	height: 50px;
    background-color: #000000;	
    border-radius:5px;
    display:flex;
    align-items: center;
    margin-top:5px;
    margin-bottom:5px;
}

nav ul li {
  display:inline-flex;
  margin-left: 20px;
}

nav ul li a{
	font-size:20px;
	font-family:'Roboto', sans-serif;
	text-decoration: none;
	color: white;
}

section {
    width:1000px;
    position:absolute;
    
    border: 1px solid;
    border-radius:5px;
} 

p{
    font-family:'Roboto', sans-serif;	
}
.flex-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
