.imagen-meme{
    margin-bottom: 20px;
}

.logito{
    margin: 2px;
}

.descripcion{
    margin-top: 40px;
}

.comentario{
    border-bottom: #2b33eb 3px solid;
    margin-top: 30px;
}

.comentario h6{
    color: #1A577F !important;
}

.comentario p{
    padding-left: 20px;
}